<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Main.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>cleanApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0415ACCA26F26D0100194713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0415ACDE26F2706600194713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0415ACE626F2706600194713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042F988326FEAE8300B2742D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043F30F12706477D003F82CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043F30F92706477E003F82CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0452CB30270740720007D6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0452CB452707407A0007D6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0452CB502707407A0007D6D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0455785F26FCFC3B00AF8FD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>045CF01826FB69DC0034F747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>045CF02026FB69DD0034F747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
